<div class="mb-3">
    <label class="form-label">Name</label>
    <div class="form-group">
        <i class="ft ft-user form-icon"></i>        
        <input type="text" class="form-control " placeholder="Enter your name" autocomplete="false">
        <button type="button" class="btn btn-light btn-md form-help" data-bs-placement="top" aria-label="This is a help text to guide user" data-bs-original-title="This is a help text to guide user"><i class="ft ft-help-circle"></i></button>
        <div class="form-hint">This is a hint text to help user.</div>
    </div>
</div>