<div class="mb-3">
    <label class="form-label">Time</label>
    <div class="form-group">
        <FeatherIcon Name="FeatherIconName.Clock" Class="form-icon" />
        <TimeInput TValue="TimeOnly" Value="time1" ValueExpression="() => time1" ValueChanged="(value) => TimeChanged(value)" onfocus="this.showPicker()" />
        <div class="form-hint">This is a hint text to help user.</div>
    </div>
</div>
<div class="mb-3">Changed time: @time1</div>

<Button Color="ButtonColor.Primary" @onclick="UpdateTime">Update Time</Button>

@code {
    private TimeOnly time1 = new TimeOnly(10, 0); // 10:00 AM

    private void TimeChanged(TimeOnly timeOnly)
    {
        time1 = timeOnly;
    }

    private void UpdateTime() => time1 = new TimeOnly(11, 0);
}
