<div class="mb-3">
    <label class="form-label">Date</label>
    <div class="form-group">
        <FeatherIcon Name="FeatherIconName.Calendar" Class="form-icon" />
        <DateInput TValue="DateOnly" Value="@date1" ValueExpression="() => date1" ValueChanged="(value) => DateChanged(value)" Placeholder="Enter Date" onfocus="this.showPicker()" />
        <div class="form-hint">This is a hint text to help user.</div>
    </div>
</div>
<div class="mb-3">Changed date: @date1</div>

<Button Color="ButtonColor.Primary" @onclick="ChangeDate"> Change Date </Button>

@code {
    private DateOnly date1 = DateOnly.FromDateTime(DateTime.Now);

    private void DateChanged(DateOnly dateOnly)
    {
        date1 = dateOnly;    
    }

    private void ChangeDate() => date1 = DateOnly.FromDateTime(DateTime.Now.AddDays(3));
}
