<div class="mb-3">
    <label class="form-label">Choose Fruits</label>
    <RadioInput TValue="int" Name="fruit" Value="1" Label="Banana" />
    <RadioInput TValue="int" Name="fruit" Value="2" Label="Orange" />
    <RadioInput TValue="int" Name="fruit" Value="3" Label="Grape" />
    <RadioInput TValue="int" Name="fruit" Value="4" Label="Papaya" />
</div>