<div class="mb-3">
    <label class="form-label">Choose Fruits</label>
    <RadioInput TValue="int" Name="fruit" Value="1" Label="Banana" HelpText="A fruit that taste good" />
    <RadioInput TValue="int" Name="fruit" Value="2" Label="Orange" HelpText="A fruit that is full of vitamin C" />
    <RadioInput TValue="int" Name="fruit" Value="3" Label="Grape" HelpText="A fruit that can make you drunk" />
    <RadioInput TValue="int" Name="fruit" Value="4" Label="Papaya" HelpText="Nice to eat when you have constipation" />
</div>