<div class="mb-3">
    <label class="form-label">Choose Fruits</label>
    <RadioInput TValue="int" Name="fruit" Value="1" Label="Banana" Disabled="true" />
    <RadioInput TValue="int" Name="fruit" Value="2" Label="Orange" Disabled="true" />
    <RadioInput TValue="int" Name="fruit" Value="3" Label="Grape" Disabled="true" />
    <RadioInput TValue="int" Name="fruit" Value="4" Label="Papaya" Disabled="true" />
</div>