<button type="button" class="btn btn-primary" data-bs-placement="top" data-bs-original-title="Tooltip text"> Tooltip Top </button>
<button type="button" class="btn btn-primary" data-bs-placement="right" data-bs-original-title="Tooltip text"> Tooltip Right </button>
<button type="button" class="btn btn-primary" data-bs-placement="bottom" data-bs-original-title="Tooltip text"> Tooltip Bottom </button>
<button type="button" class="btn btn-primary" data-bs-placement="left" data-bs-original-title="Tooltip text"> Tooltip Left </button>