<div class="bb-example">
	<a class="btn btn-primary" role="button" href="#"> Toggle button </a>
	<a class="btn btn-primary active" aria-pressed="true" role="button" href="#"> Active toggle button </a>
	<a class="btn btn-primary disabled" role="button" href="#" aria-disabled="true" tabindex="-1"> Disabled toggle button </a>
</div>