<button type="button" class="btn btn-primary btn-xl"><i class="bi bi-activity"></i></button>
<button type="button" class="btn btn-primary btn-lg"><i class="bi bi-activity"></i></button>
<button type="button" class="btn btn-primary btn-md"><i class="bi bi-activity"></i></button>
<button type="button" class="btn btn-primary btn-sm"><i class="bi bi-activity"></i></button>
<button type="button" class="btn btn-primary btn-xs"><i class="bi bi-activity"></i></button>