<button type="button" class="btn btn-primary btn-xl"> Extra large button </button>
<button type="button" class="btn btn-secondary btn-lg"> Large button </button>
<button type="button" class="btn btn-success btn-md"> Medium button </button>
<button type="button" class="btn btn-danger btn-sm"> Small button </button>
<button type="button" class="btn btn-warning btn-xs"> Extra small button </button>