<div class="bb-example">
	<button type="button" class="btn btn-primary"> Toggle button </button>
	<button type="button" class="btn btn-primary active" aria-pressed="true"> Active toggle button </button>
	<button type="button" class="btn btn-primary" disabled=""> Disabled toggle button </button>
</div>