<form class="row g-3 needs-validation was-validated" novalidate="">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <div class="form-group">
            <i class="ft ft-email form-icon"></i>
            <input type="email" class="form-control" placeholder="Enter your email" autocomplete="false" required="">
            <button type="button" class="btn btn-light btn-md form-help" data-bs-placement="top" aria-label="This is a help text to guide user" data-bs-original-title="This is a help text to guide user"><i class="ft ft-help-circle"></i></button>
            <div class="invalid-feedback">
                Please provide your email
            </div>
        </div>
    </div>
</form>