<div class="mb-3">
    <label class="form-label">Email</label>
    <div class="form-group">
        <FeatherIcon Name="FeatherIconName.Mail" Class="form-icon" />        
        <EmailInput Placeholder="Enter your email" />
        <Button Color="ButtonColor.Light" Size="ButtonSize.Medium" Class="form-help" TooltipTitle="This is a help text to guide user" TooltipPlacement="TooltipPlacement.Top">
            <FeatherIcon Name="FeatherIconName.HelpCircle"></FeatherIcon>
        </Button>
        <div class="form-hint">This is a hint text to help user.</div>
    </div>
</div>