<div class="mb-3">
    <label class="form-label">Email</label>
    <div class="form-group">
        <i class="ft ft-mail form-icon"></i>
        <input type="email" class="form-control " placeholder="Enter your email" autocomplete="false">
        <div class="form-hint">This is a hint text to help user.</div>
    </div>
</div>